<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="co.harana.zoe" version="1.0.0">
  <name>ZOE</name>
  <description> Application ZOE to PILOCH INC</description>
  <author href="http://phonegap.com" email="support@phonegap.com">Harana</author>
  <content src="index.html"/>
   <preference name='phonegap-version' value='cli-7.0.1' /> 
    <preference name='pgb-builder-version' value='1' />
  <!-- <preference name="phonegap-version" value="3.7.0" /> --> 
  <preference name="splash-screen-duration" value="5000"/>
  <preference name="orientation" value="default"/>
  <preference name="target-device" value="universal"/>
  <preference name="fullscreen" value="true"/>
  <preference name="webviewbounce" value="true"/>
  <preference name="prerendered-icon" value="true"/>
  <preference name="stay-in-webview" value="false"/>
  <preference name="ios-statusbarstyle" value="black-opaque"/>
  <preference name="detect-data-types" value="true"/>
  <preference name="exit-on-suspend" value="false"/>
  <preference name="show-splash-screen-spinner" value="true"/>
  <preference name="auto-hide-splash-screen" value="true"/>
  <preference name="disable-cursor" value="false"/>
  <preference name="android-minSdkVersion" value="7"/>
  <preference name="android-installLocation" value="auto"/>
  
  <feature name="http://api.phonegap.com/1.0/file" />
  
  <feature name="Camera">
    <param name="android-package" value="org.apache.cordova.camera.CameraLauncher" />
  </feature>


  <gap.plugin name="cordova-plugin-splashscreen" source="npm" spec="~3.2.1" />


  <gap:plugin name="cordova-plugin-printer" source="npm" />

  <gap:plugin name="cordova-plugin-share" source="npm" />
  <gap:plugin name="cordova-pdf-generator" source="npm" />
  <gap.plugin name="cordova-plugin-camera" source="npm" spec="~2.1.1" />   
    
  
  <gap:splash src="zoe_full.png"/>

  <access origin="*"/>

  <icon src="icon_zoe2.png" /> 
  
  <content src="CustomerRoute.html#Customers?type=route" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="*" />

</widget>